body {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

.container {
    padding: 20px;
}

.box {
    margin: auto;
    background-color: 40, 0, 77;
    padding: 10px;
    width: 400px;

}

#searchbar {
    outline: none;
    width: 374px;
    font-size: 16px;
    border: 1px solid black;
    padding: 12px;
    margin-bottom: 10px;
    transition: 0.2s ease;
}

#My-Games {
overflow-x: hidden;
overflow-y: scroll;
width: 400px;
height: auto;
padding: 0;
text-align: center;
}

#Other-Games {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 400px;
    height: auto;
    padding: 0;
    text-align: center;
}

#searchbar:focus {
    background-color: #eee;
    box-shadow: inset 0 0 5px 1px rgba(40, 0, 77, 0.4);
}

#My-Games h2 {
    display: block;
    color: white;
    font: 18px;
    margin: -1px 0 0 0;
    padding: 12px;
    font-weight: bold;
    user-select: none;
    border: white;
}

#Other-games h2 {
    display: block;
    color: white;
    font: 18px;
    margin: -1px 0 0 0;
    padding: 12px;
    font-weight: bold;
    user-select: none;
}

#My-Games a {
    display: block;
    text-decoration: inherit;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    border-style: dashed;
    font-size: 18px;
    margin-top: 1px;
    padding: 25px;
    margin-bottom: 50px;
    transition: 0.2s ease;
    background-image: linear-gradient(#000000, #2c004d);
    
}


#Other-Games a {
    display: block;
    text-decoration: inherit;
    color: white;
    
    font-size: 18px;
    margin-top: -1px;
    padding-top: 2.5px;
    transition: 0.2s ease;
}

#My-Games a:hover {
    background-image: #eee;
    text-shadow: none
}

#Other-Games a:hover {
    background-color: #eeeeee;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
